<div class="thumbnailPicItem">
	<li>
		<div align="center">
			<a href="javascript:void(0)">
			<img 
			id="${id}_${thumbnail_item_id}"
			alt="${thumbnail_item_title}" 
			src="${thumbnail_item_thumbnailurl}" 
			thumbnailurl="${thumbnail_item_thumbnailurl}"
			style="display:none"
			imgurl="${thumbnail_item_fileurl}"  
			title="${thumbnail_item_title}"
			dojoAttachEvent="onclick:onItemClick,onload:onImageLoad">
			</a>
		</div>
		<div class="title" style="padding: 5px 0px 2px 2px;color:#0162AF;font-family: '微软雅黑';font-size: 9pt;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 100px;">
			${thumbnail_item_title}
		</div>
		<div class="date" style="padding: 0px 0px 0px 2px;color:#0162AF;font-family: '微软雅黑';font-size: 9pt;">
			2012-06-08
		</div>
	</li>
							
							
</div>